@import './colors.scss';
@import './transitions.scss';

.title,
.subtitle {
  color: $white;
}
input {
  color: $black;
  outline: $blue !important;
  outline-width: 2px !important;
  border-radius: 0 !important;
}

.is-flex {
  display: flex;
  &.apart {
    justify-content: space-between;
  }
}

.card {
  background: $gray;
  color: $white;

  .card-header {
    background: $brown;
    border-bottom: 1px solid $blue;

    .card-header-title {
      color: $white;
    }
  }

  .card-content {
    .content {
      display: flex;
      flex-direction: column;
    }
  }

  .card-footer {
    padding: 12px;
    border-top: 1px solid $blue;

    .subtitle {
      /* color: $black; */
      font-weight: 600;
    }
  }
}
